<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<!--<key>PROJECT_UUID</key>-->
<!--<string>7399450c-7c80-4fa9-b61a-58c815a821a2</string>-->
<!--<key>PROJECT_CLIENT_KEY</key>-->
<!--<string>cip1DpxvzNMYekotllYMmiTVtpNClCaCEccjSkqw</string>-->
<!--<key>PROJECT_APP_UUID</key>-->
<!--<string>41326c93-7584-4923-9051-19f44027b959</string>-->

<key>ENV</key>
<string>debug</string>
<key>PROJECT_UUID</key>
<string>fa0fe0e8-f1bb-47ff-88bb-4fa31711e7b3</string>
<key>PROJECT_CLIENT_KEY</key>
<string>cKtHdeHis0ghNom64w7mdNkGYX5rmRr0jLlIKatY</string>
<key>PROJECT_APP_UUID</key>
<string>8a51cb68-e8e8-4399-9af3-4b45e8648af9</string>


</dict>
</plist>
